APP_PORT=3000

MONGODB_URI=mongodb://localhost:27017
MONGODB_NAME=your_db_name
# MONGODB_USERNAME=
# MONGODB_PASSWORD=

JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
JWT_ACCESS_TOKEN_EXPIRATION_TIME=30m
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret
JWT_REFRESH_TOKEN_EXPIRATION_TIME=1h
